[submodule "dsh-launcher"]
	path = dsh-launcher
	url = https://github.com/kuaizhongqiang/dsh-launcher.git
[submodule "dsh-plugins"]
	path = dsh-plugins
	url = https://github.com/kuaizhongqiang/dsh-plugins.git
[submodule "dsh-vscode"]
	path = dsh-vscode
	url = https://github.com/kuaizhongqiang/dsh-vscode.git
[submodule "dsh-desktop"]
	path = dsh-desktop
	url = https://github.com/kuaizhongqiang/dsh-desktop.git
[submodule "dsh-remote"]
	path = dsh-remote
	url = https://github.com/kuaizhongqiang/dsh-remote.git
[submodule "deepseek-harness"]
	path = deepseek-harness
	url = https://github.com/deepseek-ai/deepseek-harness.git
